

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
    

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
         <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/blog.css'%}">
    <link rel="icon" type="image/png" href="{% static 'images/fav.png' %}">
</head>
<body>
    {% include "homeverse/nav.html" %}
    
    <div class="blog-section">
        <h1>Our Blog</h1>
        <div class="blog-grid">
            {% comment %} {% for post in blog_posts %}
            <div class="blog-card">
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
                <a href="{% url 'blog_detail' post.pk %}" class="read-more-link">Read More</a>
            </div>
            {% endfor %} {% endcomment %}
        </div>
    </div>

    {% include "homeverse/footer.html" %}


</body>
</html>